#!/usr/bin/make -f

xkb_base := /usr/share/X11/xkb

override_dh_auto_configure:
	dh_auto_configure -- \
	  --with-xkb-rules-symlink=xfree86,xorg \
	  --with-xkb-base=$(xkb_base) \
	  --disable-runtime-deps

# Work around quilt's removing empty files:
override_dh_quilt_unpatch:
	dh_quilt_unpatch
	touch rules/base.o_k.part

override_dh_clean:
	dh_clean
	rm -f po/*.gmo po/*.pot rules/evdev*.xml
	rm -rf m4

%:
	dh $@ --with quilt --builddirectory=build/
