#!/usr/bin/make -f

xkb_base := /usr/share/X11/xkb

override_dh_auto_configure:
	dh_auto_configure -- \
	  -Dxkb-base=$(xkb_base) \
	  -Dxorg-rules-symlinks=true

override_dh_clean:
	dh_clean
	rm -f po/*.gmo po/*.pot rules/evdev*.xml
	rm -rf m4

%:
	dh $@ --buildsystem=meson --with quilt --builddirectory=build/
